
    <div id='modalProvas2' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="card">
                                <div class="card-body wizard-content">
                                    <h4 class="card-title">Avaliação de Nível 2</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <form id="form2" action="#" class="m-t-40">
                                        <div>
                                                <input type="number" value="<?php echo $id_user; ?>" name="id" hidden>
                                            <h3></h3>
                                            <section>
                                                
                                                <h5>O grau em uma árvore refere-se a:</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="41" name="11" value="option1" required>
                                                <label class="custom-control-label" for="41">número de linhas que liga um nó a raiz</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="42" name="11" value="option2"required >
                                                        <label class="custom-control-label" for="42">é o nível mais alto da árvore, somado de 1</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="43" name="11" value="option3"required>
                                                        <label class="custom-control-label" for="43">número de subárvore de um nó (correta)</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="44" name="11" value="option4"required>
                                                        <label class="custom-control-label" for="44">é o conjunto de arvores disjunta</label>
                                                </div>
    
                                            </section>
                                            <h3><!--2--></h3>
                                            <section>
                                                    <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm">
                                                                        <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel2/questao_02.png" width="auto" height="222px">
                                                                </div>
                                                                <div class="col-sm">
                                                                    <h5>Observando a árvore quais nodos tem grau 3 e 1, respectivamente:</h5>
                                                                     
                                                                    <!-- Default unchecked -->
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="45" name="12" value="option1" required>
                                                                        <label class="custom-control-label" for="45">(A, B) e (C,F)  (correta)</label>
                                                                    </div>
                                                                    <!-- Default checked -->
                                                                    <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="46" name="12" value="option2"required >
                                                                            <label class="custom-control-label" for="46">(A, J) e (C,F)</label>
                                                                    </div>
                                                                    <!-- Default unchecked -->
                                                                    <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="47" name="12" value="option3"required>
                                                                            <label class="custom-control-label" for="47">(A, B) e (C,J)</label>
                                                                    </div>
                                                                    <!-- Default checked -->
                                                                    <div class="custom-control custom-radio">
                                                                            <input type="radio" class="custom-control-input" id="48" name="12" value="option4"required>
                                                                            <label class="custom-control-label" for="48">(A, B) e (C,D)</label>
                                                                    </div>
            
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                            </section>
                                            <h3><!--3--></h3>
                                            <section>
                                                    <h5><b>
                                                                No desenvolvimento de um software que analisa bases de DNA, representadas pelas letras A, C, G, T, 
                                                                utilizou-se as estruturas de dados: pilha e fila. Considere que, se uma sequência representa uma pilha,
                                                                 o topo é o elemento mais à esquerda; e se uma sequência representa uma fila, a sua frente é o elemento mais 
                                                                 à esquerda. Analise o seguinte cenário: “a sequência inicial ficou armazenada na primeira estrutura de dados
                                                                  na seguinte ordem: (A,G,T,C,A,G,T,T). Cada elemento foi retirado da primeira estrutura de dados e inserido na 
                                                                  segunda estrutura de dados, e a sequência ficou armazenada na seguinte ordem: (T,T,G,A,C,T,G,A). Finalmente, 
                                                                  cada elemento foi retirado da segunda estrutura de dados e inserido na terceira estrutura de dados e a 
                                                                  sequência ficou armazenada na seguinte ordem: (T,T,G,A,C,T,G,A)”.  
                                                    </b></h5>
                                                    <br>
                                                    <h5>Qual a única sequência de estruturas de dados apresentadas a seguir pode ter sido usada no cenário descrito acima?</h5>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="49" name="13" value="option1" required>
                                                        <label class="custom-control-label" for="49">Fila - Fila - Pilha</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="50" name="13" value="option2"required >
                                                            <label class="custom-control-label" for="50">Fila - Pilha - Fila (correta)</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="51" name="13" value="option3"required>
                                                            <label class="custom-control-label" for="51">Fila - Pilha - Pilha</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="52" name="13" value="option4"required>
                                                            <label class="custom-control-label" for="52">Pilha - Pilha - Pilha</label>
                                                    </div>
                                            </section>
                                            <h3><!--4--></h3>
                                            <section>
                                                <div class="container">
                                                        <div class="row">
                                                                <div class="col-sm">
                                                                        <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel2/questao_04.png" width="auto" height="222px">
                                                                </div>
                                                                <div class="col-sm">
                                                                <h5> <b> Tendo como base a árvore ao lado, faça o que se pede nos itens a seguir:</b></h5><br>
                                                                <h5>Considerando que o nó de valor 33 seja a raiz da árvore, assinale a ordem de visita para uma 
                                                                        varredura em pré-ordem (r-e-d, ou pré-fixado à esquerda) na árvore.</h5>
                                                                        
                                                                <!-- Default unchecked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="53" name="14" value="option1" required>
                                                                        <label class="custom-control-label" for="53">33 , 15, 41, 34, 38, 47, 43, 49</label>
                                                                </div>
                                                                <!-- Default checked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="54" name="14" value="option2"required >
                                                                        <label class="custom-control-label" for="54"> 33 , 15, 41, 38, 34, 47, 49 43</label>
                                                                </div>
                                                                <!-- Default unchecked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="55" name="14" value="option3"required>
                                                                        <label class="custom-control-label" for="55">15 , 33, 41, 38, 34, 47, 43, 49</label>
                                                                </div>
                                                                <!-- Default checked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="56" name="14" value="option4"required>
                                                                        <label class="custom-control-label" for="56">33 , 15, 41, 38, 34, 47, 43, 49 (correta)</label>
                                                                </div>
        
                                                                
                                                                </div>
                                                        </div>
                                                </div>
                                            </section>
                                            <h3><!--5--></h3>
                                            <section>
                                                <h5><b>Um estudante de computação precisa resolver um problema bastante importante, que é executar as 
                                                        operações que estão descritas abaixo, cuja estrutura é uma pilha. Tão logo ele retire algum elemento 
                                                        desta pilha, estes deverão ser inseridos em uma fila, cuja entrada é pela esquerda e a saída, 
                                                        pela direita.</b></h5><br>
                                                
                                                <h5>Assinale a alternativa que contém a sequência correta de entrada dos elementos na fila.</h5>
                                                <small>
                                                                PUSH P <br>
                                                                PUSH E <br>
                                                                PUSH R <br>
                                                                PUSH T<br>
                                                                PUSH O<br>
                                                                POP<br>
                                                                POP<br>
                                                                PUSH S<br>
                                                                PUSH O<br>
                                                                PUSH L<br>
                                                                POP<br>
                                                                POP<br>
                                                                POP<br>
                                                </small>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="57" name="15" value="option1" required>
                                                        <label class="custom-control-label" for="57">S - O - L - T - O</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="58" name="15" value="option2"required >
                                                            <label class="custom-control-label" for="58">O - T - L - O - S (correta)</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="59" name="15" value="option3"required>
                                                            <label class="custom-control-label" for="59">O - T - R - E - P</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="60" name="15" value="option4"required>
                                                            <label class="custom-control-label" for="60">P - O - R - L – S</label>
                                                    </div>
                                            </section>
                                            <h3><!--6--></h3>
                                            <section>
                                                <h5>O Nível em uma árvore refere-se a:</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="61" name="16" value="option1" required>
                                                <label class="custom-control-label" for="61"> é o conjunto de arvores disjunta</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="62" name="16" value="option2"required >
                                                        <label class="custom-control-label" for="62">é o nível mais alto da árvore, somado de 1</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="63" name="16" value="option3"required>
                                                        <label class="custom-control-label" for="63">número de subárvore de um nó </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="64" name="16" value="option4"required>
                                                        <label class="custom-control-label" for="64">número de linhas que liga um nó a raiz (correta)</label>
                                                </div>
                                            </section>
                                            <h3><!--7--></h3>
                                            <section>
                                                <h5>A Altura em uma árvore refere-se a:</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="65" name="17" value="option1" required>
                                                <label class="custom-control-label" for="65"> é o conjunto de arvores disjunta</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="66" name="17" value="option2"required >
                                                        <label class="custom-control-label" for="66">é o nível mais alto da árvore, somado de 1 (correta)</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="67" name="17" value="option3"required>
                                                        <label class="custom-control-label" for="67">número de subárvore de um nó </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="68" name="17" value="option4"required>
                                                        <label class="custom-control-label" for="68">número de linhas que liga um nó a raiz </label>
                                                </div>
                                            </section>
                                            <h3><!--8--></h3>
                                            <section>
                                                <h5>Uma Floresta é:</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="69" name="18" value="option1" required>
                                                <label class="custom-control-label" for="69"> é o conjunto de arvores disjunta (correta)</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="70" name="18" value="option2"required >
                                                        <label class="custom-control-label" for="70">é o nível mais alto da árvore, somado de 1 </label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="71" name="18" value="option3"required>
                                                        <label class="custom-control-label" for="71">número de subárvore de um nó </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="72" name="18" value="option4"required>
                                                        <label class="custom-control-label" for="72">número de linhas que liga um nó a raiz </label>
                                                </div>
                                            </section>
                                            <h3><!--9--></h3>
                                            <section>
                                                <h5>Em relação ao nível, marque a reposta corrta:</h5><br><br>
                                                <h5>I - número de subárvores</h5><br>
                                                <h5>II - quantas linhas partem do nó até a raiz</h5><br>
                                                <h5>III - número de subárvores acrescido de 1</h5><br>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="73" name="19" value="option1" required>
                                                <label class="custom-control-label" for="73"> apenas I e II estão corretas</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="74" name="19" value="option2"required >
                                                        <label class="custom-control-label" for="74">apenas I e III estão corretas </label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="75" name="19" value="option3"required>
                                                        <label class="custom-control-label" for="75">apenas II está correta (correta) </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="76" name="19" value="option4"required>
                                                        <label class="custom-control-label" for="76">Todas estão corretas </label>
                                                </div>
                                            </section>
                                            <h3><!--10--></h3>
                                            <section>
                                                <h5>Observando a árvore a seguir, quais são os nós folhas? Assinale a alternativa correta:</h5><br><br>
                                                <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel2/questao_10.png" width="auto" height="222px">
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="77" name="20" value="option1" required>
                                                <label class="custom-control-label" for="77"> apenas I e II estão corretas</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="78" name="20" value="option2"required >
                                                        <label class="custom-control-label" for="78">apenas I e III estão corretas </label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="79" name="20" value="option3"required>
                                                        <label class="custom-control-label" for="79">apenas II está correta (correta) </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="80" name="20" value="option4"required>
                                                        <label class="custom-control-label" for="80">Todas estão corretas </label>
                                                </div>
                                            </section>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    
    