
    <div id='modalProvas1' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="card">
                            <div class="card-body wizard-content">
                                <h4 class="card-title">Avaliação de Nível 1</h4>
                                <h6 class="card-subtitle"></h6>
                                <form id="form1" action="#" class="m-t-40">
                                    <div>
                                            <input type="number" value="<?php echo $id_user; ?>" name="id" hidden >
                                        <h3></h3>
                                        <section>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm">
                                                            <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel1/questao_01.png" width="auto" height="222px">
                                                    </div>
                                                    <div class="col-sm">
                                                        <h5><b>Qual o valor de:</b></h5>
                                                         <ul style="margin-left: 10px">
                                                            <li>O valor de i;</li>
                                                            <li>O valor de j;</li>
                                                            <li>O valor de k;</li>
                                                            <li>O valor de l;</li>
                                                            <li>O valor de m;</li>
                                                        </ul>
                                                        <br><br>
                                                        <h5><b>Alternativas:</b></h5>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="1" name="1" value="option1" required>
                                                            <label class="custom-control-label" for="1">14, 15, 14 , 8, 9</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="2" name="1" value="option2"required >
                                                                <label class="custom-control-label" for="2">15, 14, 8, 14, 8 (correta)</label>
                                                        </div>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="3" name="1" value="option3"required>
                                                                <label class="custom-control-label" for="3">15, 13, 8, 14,9</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="4" name="1" value="option4"required>
                                                                <label class="custom-control-label" for="4">14, 14, 8, 14, 8 </label>
                                                        </div>

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                                
                                        </section>
                                        <h3><!--2--></h3>
                                        <section>
                                                <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm">
                                                                    <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel1/questao_02.png" width="auto" height="222px">
                                                            </div>
                                                            <div class="col-sm">
                                                                <h5><b>Qual o valor de:</b></h5>
                                                                 <ul style="margin-left: 10px">
                                                                    <li>res;</li>
                                                                    <li>vlr;</li>
                                                                    <li>num;</li>
                                                                </ul>
                                                                <br><br>
                                                                <h5><b>Alternativas:</b></h5>
                                                                <!-- Default unchecked -->
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="5" name="2" value="option1" required>
                                                                    <label class="custom-control-label" for="5">21,13,18</label>
                                                                </div>
                                                                <!-- Default checked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="6" name="2" value="option2"required >
                                                                        <label class="custom-control-label" for="6">13,16,21</label>
                                                                </div>
                                                                <!-- Default unchecked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="7" name="2" value="option3"required>
                                                                        <label class="custom-control-label" for="7">13,8,12</label>
                                                                </div>
                                                                <!-- Default checked -->
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" id="8" name="2" value="option4"required>
                                                                        <label class="custom-control-label" for="8">21,13,16 (correta) </label>
                                                                </div>
        
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                        </section>
                                        <h3><!--3--></h3>
                                        <section>
                                                <h5><b>A função <i>PRINTF</i> serve para:</b></h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="9" name="3" value="option1" required>
                                                    <label class="custom-control-label" for="9">armazenar um dado</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="10" name="3" value="option2"required >
                                                        <label class="custom-control-label" for="10">escrever algo na tela (correta)</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="11" name="3" value="option3"required>
                                                        <label class="custom-control-label" for="11">buscar um arquivo no sistema</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="12" name="3" value="option4"required>
                                                        <label class="custom-control-label" for="12">todas as alternativas estão corretas</label>
                                                </div>
                                        </section>
                                        <h3><!--4--></h3>
                                        <section>
                                                <h5><b>Para que serve a função <i>SCANF</i> :</b></h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="13" name="4" value="option1" required>
                                                    <label class="custom-control-label" for="13">permite ler dados formatados de entrada padrão (teclado) (correta)</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="14" name="4" value="option2"required >
                                                        <label class="custom-control-label" for="14">mostra na tela um dado formatado de entrada padrão</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="15" name="4" value="option3"required>
                                                        <label class="custom-control-label" for="15">usada na busca por arquivos alocados na memória do sistema</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="16" name="4" value="option4"required>
                                                        <label class="custom-control-label" for="16">todas as alternativas estão corretas</label>
                                                </div>
                                        </section>
                                        <h3><!--5--></h3>
                                        <section>
                                            <h5><b>Faça um teste de mesa do diagrama apresentado abaixo, de acordo com os dados fornecidos:</b></h5>
                                            <div class="container">
                                                    <div class="row">
                                                      <div class="col-sm"><br><br>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                <th scope="col"><b>SalBase</b></th>
                                                                <th scope="col"><b>Gratif</b></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                <td>3.000,00</td>
                                                                <td>1.200,00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br><br><br>
                                                        <h5>Memória de Cálculo:</h5>
                                                        <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                    <th scope="col"><b>SalBase</b></th>
                                                                    <th scope="col"><b>Gratif</b></th>
                                                                    <th scope="col"><b>SaLBruto</b></th>
                                                                    <th scope="col"><b>IR</b></th>
                                                                    <th scope="col"><b>SALLIQ</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                      </div>

                                                      <div class="col-sm"><br><br>
                                                        <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel1/questao_05.png" width="auto" height="222px">
                                                      </div>
                                                    </div>
                                            </div><br><br>
                                            <h5>Quais os valores respectivamente: SalBase, Gratif, SaLBruto, IR SALLIQ:</h5>
                                            <!-- Default unchecked -->
                                            <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="17" name="5" value="option1" required>
                                                    <label class="custom-control-label" for="17">3000, 1200, 3200, 740, 2800</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="18" name="5" value="option2"required >
                                                        <label class="custom-control-label" for="18">3000, 2100, 4000, 740, 3300</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="19" name="5" value="option3"required>
                                                        <label class="custom-control-label" for="19">3000, 1700, 3200, 620, 2180</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="20" name="5" value="option4"required>
                                                        <label class="custom-control-label" for="20">3000, 1200, 4200, 840, 3360 (correta)</label>
                                                </div>
                                        </section>
                                        <h3><!--6--></h3>
                                        <section>
                                                <h5><b>A questão a seguir refere-se aos Operadores Aritméticos</b></h5><br>
                                                <h5>Complete de acordo com o seu conhecimento:</h5>
                                                <ul>
                                                    <li>O simbolo usado para representar a ADIÇÃO é: ______.</li>
                                                    <li>O INCREMENTO pode ser representado pelo símbolo:______.</li>
                                                    <li>O RESTO DA DIVISÃO pode ser representada pelo símbolo : ______.</li>
                                                </ul><br><br>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="21" name="6" value="option1" required>
                                                    <label class="custom-control-label" for="21">+, ++, % (correta)</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="22" name="6" value="option2"required >
                                                        <label class="custom-control-label" for="22">++, +, %</label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="23" name="6" value="option3"required>
                                                        <label class="custom-control-label" for="23">+, ++, %%</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="24" name="6" value="option4"required>
                                                        <label class="custom-control-label" for="24">+, +, %</label>
                                                </div>
                                        </section>
                                        <h3><!--7--></h3>
                                        <section>
                                                <h5><b>Associe a segunda coluna de acordo com a primeira.</b></h5><br>
                                                <table class="table table-borderless">
                                                        <thead>
                                                          <tr>
                                                            
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <td>a) While</td>
                                                            <td>( ) Decisão, se não for uma opção é outra </td>
                                                          </tr>
                                                          <tr>
                                                            <td>b) IF-Else</td>
                                                            <td>( ) Permite que um determinado trecho do código continue sendo executado de acordo com uma condição</td>
                                                          </tr>
                                                          <tr>
                                                            <td>c) For</td>
                                                            <td>( ) Executar um comando até que</td>
                                                            </tr>
                                                          
                                                        </tbody>
                                                      </table>
                                                      <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="25" name="7" value="option1" required>
                                                        <label class="custom-control-label" for="25">a,b,c</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="26" name="7" value="option2"required >
                                                            <label class="custom-control-label" for="26">a,c,b</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="27" name="7" value="option3"required>
                                                            <label class="custom-control-label" for="27">b,a,c (correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="28" name="7" value="option4"required>
                                                            <label class="custom-control-label" for="28">b,c,a</label>
                                                    </div>
                                        </section>
                                        <h3><!--8--></h3>
                                        <section>
                                                <h5><b>Associe a segunda coluna de acordo com a primeira.</b></h5><br>
                                                <table class="table table-borderless">
                                                        <thead>
                                                          <tr>
                                                            
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <td>a) Int</td>
                                                            <td>( ) Para armazenar qualquer número real,  tanto negativo quanto nulo ou positivo </td>
                                                          </tr>
                                                          <tr>
                                                            <td>b) Char</td>
                                                            <td>( ) Para armazenamento de qualquer número inteiro, tanto negativo quanto nulo ou positivo</td>
                                                          </tr>
                                                          <tr>
                                                            <td>c) Float</td>
                                                            <td>( ) Usada para se armazenar quaisquer letras e números</td>
                                                            </tr>
                                                          
                                                        </tbody>
                                                      </table>
                                                      <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="29" name="8" value="option1" required>
                                                            <label class="custom-control-label" for="29">a,b,c</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="30" name="8" value="option2"required >
                                                                <label class="custom-control-label" for="30">c,a,b (correta)</label>
                                                        </div>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="31" name="8" value="option3"required>
                                                                <label class="custom-control-label" for="31">b,a,c </label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="32" name="8" value="option4"required>
                                                                <label class="custom-control-label" for="32">b,c,a</label>
                                                        </div>
                                        </section>
                                        <h3><!--9--></h3>
                                        <section>
                                                <h5><b>Assinale a opção correta:</b></h5><br>
                                                <small>int var;</small>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="33" name="9" value="option1" required>
                                                        <label class="custom-control-label" for="33">scanf("%d",&var) (correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="34" name="9" value="option2"required >
                                                            <label class="custom-control-label" for="34">scanf("%e”, &var") </label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="35" name="9" value="option3"required>
                                                            <label class="custom-control-label" for="35">scanf (“%c” &var) </label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="36" name="9" value="option4"required>
                                                            <label class="custom-control-label" for="36"> scanf (%d, &var)</label>
                                                    </div>
                                        </section>
                                        <h3><!--10--></h3>
                                        <section>
                                                <h5><b>Verifique as afirmações a seguir e e marque somente a opção que estiver INCORRETA:</b></h5><br>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="37" name="10" value="option1" required>
                                                        <label class="custom-control-label" for="37">A variável é armazenada em um endereço em memória</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="38" name="10" value="option2"required >
                                                            <label class="custom-control-label" for="38">Uma variável do tipo int armazena números reais e inteiros. (correta) </label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="39" name="10" value="option3"required>
                                                            <label class="custom-control-label" for="39">É obrigatório o uso de uma condição dentro dos parâmetros do if </label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="40" name="10" value="option4"required>
                                                            <label class="custom-control-label" for="40"> É necessário o uso de chaves para separar o que está dentro de uma função.</label>
                                                    </div>
                                        </section>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
    </div>

