
    <div id='modalProvas3' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="card">
                                <div class="card-body wizard-content">
                                    <h4 class="card-title">Avaliação de Nível 3</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <form id="form3" action="#" class="m-t-40">
                                        <div>
                                                <input type="number" value="<?php echo $id_user; ?>" name="id" hidden>
                                            <h3></h3>
                                            <section>
                                                <h5>Apos ter estudado sobre a definição de compressão de dados e a sua importância, analise as afirmativas e, em seguida assinale a alternativa correta:</h5><br><br>
                                                <h5>I - Uma das utilizações comumente conhecidas e úteis das ferramentas de compressão de dados é o 
                                                        empacotamento de dois ou mais arquivos de dados (xls, txt, doc, etc.) em um único arquivo 
                                                        compactado.</h5>
                                                <h5>
                                                        II- A compactação de um arquivo é útil em varias situações. Entre elas, o armazenamento de copia de segurança (backup), 
                                                        com finalidade de transporte, distribuição ou <i>upload</i>>.
                                                </h5>
                                                <h5>Uma vez realizada a compressão de arquivos via um aplicativo popular, como o Winzip, teremos um arquivo 
                                                        resultante contendo o empacotamento de arquivos e diretórios. Assim, para que possamos utilizar os 
                                                        arquivos do pacote, será necessária, antes, a extração dos arquivos desejados, ou seja, 
                                                        executar um processo para descomprimir e salvar em disco os arquivos na forma original.</h5>
                                                <h5>A internet e uma das maiores beneficiarias da compressão de dados, pois arquivos menores são mais 
                                                        rapidamente transmitidos na 
                                                        grande rede, proporcionando um ganho maior de performance e velocidade de navegação, 
                                                        por parte dos usuários.</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="81" name="21" value="option1" required>
                                                <label class="custom-control-label" for="81"> Todas as alternativas estão corretas (correta)</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="82" name="21" value="option2"required >
                                                        <label class="custom-control-label" for="82">Somente as afirmativas I, II e III estão corretas. </label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="83" name="21" value="option3"required>
                                                        <label class="custom-control-label" for="83">Somente as afirmativas II, III e IV estão corretas. </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="84" name="21" value="option4"required>
                                                        <label class="custom-control-label" for="84">Somente as afirmativas I, III e IV estão corretas. </label>
                                                </div>
                                            </section>
                                            <h3><!--2--></h3>
                                            <section>
                                                <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_02.png" width="auto" height="222px"><br>
                                                
                                                <h5>Considerando o grafo ilustrado acima, assinale a opção em que é apresentada a descrição em vértices (V) e arestas (A).</h5>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="85" name="22" value="option1" required>
                                                <label class="custom-control-label" for="85"> V={1,2,3,4,5,6} - A={(2,4),(2,3),(2,5),(3,6),(1,5)}</label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="86" name="22" value="option2"required >
                                                        <label class="custom-control-label" for="86">V={2,4,1,3,6,5} - A={(4,2),(1,3),(5,2),(6,3),(5,3)} </label>
                                                </div>
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="87" name="22" value="option3"required>
                                                        <label class="custom-control-label" for="87">V={1,2,3,4,5,6} - A={(4,2),(3,4),(5,2),(6,3),(5,3)} </label>
                                                </div>
                                                <!-- Default checked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="88" name="22" value="option4"required>
                                                        <label class="custom-control-label" for="88">V={2,4,1,3,6,5} - A={(4,2),(3,1),(5,2),(6,3),(5,2)} (correta) </label>
                                                </div>
                                            </section>
                                            <h3><!--3--></h3>
                                            <section>
                                                    <h5>Existem algoritmos de compressão de dados, cada um com suas características peculiares. 
                                                            Sobre esses algoritmos de compressão de dados, analise os itens a seguir e marque 
                                                            verdadeiro ou falso.
                                                    </h5> <br>
                                                        
                                                    <h5>
                                                                I. O algoritmo de frequência de caracteres recebe como entrada um vetor de caracteres alfanuméricos e, 
                                                                como saída, devolve um vetor, também de caracteres alfanuméricos, com exceção do caractere ‘@’, 
                                                                sempre menor, no mínimo em um caractere do que a sequencia de entrada ( ).
                                                    </h5>
                                                    <h5>
                                                                I. O algoritmo de Huffman comparado ao algoritmo de frequência de caracteres é o que apresenta a 
                                                                saída com maior nível de compressão para todos os casos ( ).
                                                    </h5>         
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="89" name="23" value="option1" required>
                                                        <label class="custom-control-label" for="89">F,V (correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="90" name="23" value="option2"required >
                                                            <label class="custom-control-label" for="90">V,V</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="91" name="23" value="option3"required>
                                                            <label class="custom-control-label" for="91">V,F</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="92" name="23" value="option4"required>
                                                            <label class="custom-control-label" for="92">F,F</label>
                                                    </div>
                                            </section>
                                            <h3><!--4--></h3>
                                            <section>
                                                <h5>
                                                                Sabemos que  um grafo  é um objeto  formado  por um conjunto de vértices e um conjunto de arcos.  
                                                                Sobre os conceitos  e aplicações de grafos,  analise as informações  e marque verdadeiro ou falso
                                                </h5> <br>
                                                                
                                                <h5>
                                                               I. Cada arco  de  um digrafo  é um par  ordenado de  vértices.  O  primeiro vértice do par  
                                                                é o domínio e o segundo é o contradomínio ( ).
                                                </h5>
                                                <h5>
                                                                II. Em um digrafo, um arco  com domínio j e contradomínio k é identificado  por 
                                                                &lsaquo; < j,k > &rsaquo;ou por jk. Dizemos que um arco  jk vai de k até j. ( ).
                                                </h5>  
                                                <h5>
                                                                III. Podemos  afirmar  que  um passeio em  um grafo  é  uma  seqüência de vértices em que cada vértice é adjacente ao anterior.  
                                                                Assim um passeio pode  ser denotado pela  seqüência<br> (v0,v1,...,vn-1,vn). ( ).
                                                </h5>  
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="93" name="24" value="option1" required>
                                                        <label class="custom-control-label" for="93">V,F,F</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="94" name="24" value="option2"required >
                                                            <label class="custom-control-label" for="94">V,V,F</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="95" name="24" value="option3"required>
                                                            <label class="custom-control-label" for="95">V,F,V (correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="96" name="24" value="option4"required>
                                                            <label class="custom-control-label" for="96">F,F,V</label>
                                                    </div>
                                            </section>
                                            <h3><!--5--></h3>
                                            <section>
                                                <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_05.png" width="auto" height="222px"><br>
                                                <h5><b>O Grafo acima pode ser representado pela seguinte matriz</b></h5><br>
                                                
                                                <!-- Default unchecked -->
                                                <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="97" name="25" value="option1" required>
                                                        <label class="custom-control-label" for="97"><img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/alt1.png" width="125px" height="auto">(correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="98" name="25" value="option2"required >
                                                            <label class="custom-control-label" for="98"><img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/alt2.png" width="125px" height="auto"></label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="99" name="25" value="option3"required>
                                                            <label class="custom-control-label" for="99"><img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/alt3.png" width="125px" height="auto"></label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="100" name="25" value="option4"required>
                                                            <label class="custom-control-label" for="100"><img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/alt4.png" width="125px" height="auto"></label>
                                                    </div>
                                            </section>
                                            <h3><!--6--></h3>
                                            <section>
                                                    <h5><b>Observando o grafo a seguir, marque a resposta a qual indica o grau total de cada um dos nós, respectivamente, 1,2,3,4</b></h5><br>
                                                    <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_06.png" width="auto" height="222px"><br>
                                                
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="101" name="26" value="option1" required>
                                                        <label class="custom-control-label" for="101">2,4,1,1(correta)</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="102" name="26" value="option2"required >
                                                            <label class="custom-control-label" for="102">2,4,1,2</label>
                                                    </div>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="103" name="26" value="option3"required>
                                                            <label class="custom-control-label" for="103">1,4,1,2</label>
                                                    </div>
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="104" name="26" value="option4"required>
                                                            <label class="custom-control-label" for="104">2,2,1,2</label>
                                                    </div>
                                            </section>
                                            <h3><!--7--></h3>
                                            <section>
                                                    <h5><b>O Grafo abaixo pode ser representado pela seguinte lista de adjacência:</b></h5><br>
                                                    <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_7.png" width="auto" height="222px"><br>
                                                          <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="105" name="27" value="option1" required>
                                                            <label class="custom-control-label" for="105">1->2->4->NULL<br>2->1->3NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="106" name="27" value="option2"required >
                                                                <label class="custom-control-label" for="106">1->2->5->NULL<br>2->1->3->NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                        </div>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="107" name="27" value="option3"required>
                                                                <label class="custom-control-label" for="107">1->2->NULL<br>2->1->3-NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="108" name="27" value="option4"required>
                                                                <label class="custom-control-label" for="108">1->2->4->NULL<br>2->1->3->5->NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br> (correta)</label>
                                                        </div>
                                            </section>
                                            <h3><!--8--></h3>
                                            <section>
                                                    <h5><b>Observando o Grafo, a lista de adjacência é:</b></h5><br>
                                                    <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_08.png" width="auto" height="222px"><br>
                                                          <!-- Default unchecked -->
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="109" name="28" value="option1" required>
                                                                <label class="custom-control-label" for="109">1->2->4->NULL<br>2->1->3->5->NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                            </div>
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="110" name="28" value="option2"required >
                                                                    <label class="custom-control-label" for="110">1->2->5->NULL<br>2->1->3->4->5->NULL<br>3->2->4->NULL<br>4->2->3->5->NULL<br>5->1->2->4-><br> (correta)</label>
                                                            </div>
                                                            <!-- Default unchecked -->
                                                            <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="111" name="28" value="option3"required>
                                                                    <label class="custom-control-label" for="111">1->2->5->NULL<br>2->1->3->NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                            </div>
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="112" name="28" value="option4"required>
                                                                    <label class="custom-control-label" for="112">1->2->4->NULL<br>2->1->3NULL<br>3->2->NULL<br>4->1->5->NULL<br>5->2->4->NULL<br></label>
                                                            </div>
                                            </section>
                                            <h3><!--9--></h3>
                                            <section>
                                                        <h5><b>Observando o Grafo, a lista de adjacência é:</b></h5><br>
                                                        <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_09.png" width="auto" height="222px"><br>
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="113" name="29" value="option1" required>
                                                            <label class="custom-control-label" for="113">1->2->5->NULL<br>1->3->4->5->NULL<br>2->3->4->5->NULL<br>4->2->1->5->NULL<br>5->2->1->3->4->NULL<br>6->NULL<br> (correta)</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="114" name="29" value="option2"required >
                                                                <label class="custom-control-label" for="114">1->2->5->NULL<br>1->3->4->4->NULL<br>2->3->4->5->NULL<br>3->1->2->5->NULL<br>4->2->1->5->NULL<br>6->NULL<br> </label>
                                                        </div>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="115" name="29" value="option3"required>
                                                                <label class="custom-control-label" for="115">1->2->5->NULL<br>1->3->4->3->NULL<br>1->3->4->5->NULL<br>4->2->6->5->NULL<br>3->2->1->5->4->NULL<br>6->NULL<br> </label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="116" name="29" value="option4"required>
                                                                <label class="custom-control-label" for="116"> 1->2->5->NULL<br>1->3->4<br>2->3->4->NULL<br>4->2->1->5->NULL<br>5->2->1->3->NULL<br></label>
                                                        </div>
                                            </section>
                                            <h3><!--10--></h3>
                                            <section>
                                                    <h5><b>Observando o Grafo, marque respectivamente o grau médio, o grau máximo e o grau mínimo:</b></h5><br>

                                                    <img class="img-fluid" alt="Responsive image" src="../../assets/arquivos/provas/nivel3/questao_10.png" width="auto" height="222px"><br>
                                                    
                                                    <!-- Default unchecked -->
                                                    <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" id="117" name="30" value="option1" required>
                                                            <label class="custom-control-label" for="117">5,6,6,4</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="118" name="30" value="option2"required >
                                                                <label class="custom-control-label" for="118">5,6,4,8 </label>
                                                        </div>
                                                        <!-- Default unchecked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="119" name="30" value="option3"required>
                                                                <label class="custom-control-label" for="119">5,8,4</label>
                                                        </div>
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="120" name="30" value="option4"required>
                                                                <label class="custom-control-label" for="120"> 5,6,8,4 (correta)</label>
                                                        </div>
                                            </section>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    
    